<% include ./partials/header.ejs %>

<main class="container">
      <!-- Main Content -->
      <div class="jumbotron">
        <h1 class="display-4">Welcome to <%= title %></h1>
        <% if(title == "Contact"){%>
        <a class="btn btn-primary" href="/contact-list" role="button">Contact List</a>
        <a class="btn btn-primary" href="/about-list" role="button">My Interests</a>
        <% }%>
      </div>
    </main>

<% include ./partials/footer.ejs %>
