<% include ../partials/header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-mid-offset-3 col-md-6"></div>
        <h1><%= title %></h1>
        <br>
        <table class="table table-bordered table-striped table-hover">
            <!-- Header Row-->
            <tr>
                <th class="text-centered">Name</th>
                <th class="text-centered">Description</th>
            </tr>

            <!-- Repeatable Template Row-->
            <% for(let count = 0; count < aboutList.length; count++){ %>
                <tr>
                    <td class="text-center"><%= aboutList[count].name %></td>
                    <td class="text-center"><%= aboutList[count].description %></td>
                </tr>
            <% } %>
        </table>

    </div>
</div>    

<% include ../partials/footer.ejs %>
