<div class="container">
    <div class="jumbotron">
            <div class="row">
                <div class="col mid offset-4 col-md-4">
                    <h1>Registration</h1>
                    <form autocomplete="off"(submit)="onRegisterSubmit()">
                        <fieldset  class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" 
                            [(ngModel)]="user.username"
                            name="username" placeholder="Enter username" 
                            id="username" required autocomplete="off"> 
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" 
                            [(ngModel)]="user.password"
                            name="password" placeholder="Enter password" 
                            id="password" required autocomplete="off">
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" 
                            [(ngModel)]="user.email"
                             name="email" placeholder="Enter email" 
                             id="email" required autocomplete="off">
                        </fieldset>
                        <fieldset class="form-group">
                                <label for="displayName">Display Name:</label>
                                <input type="text" class="form-control" 
                                 name="displayName" placeholder="Enter display name" 
                                 [(ngModel)]="user.displayName"
                                 id="displayName" required autocomplete="off"> 
                        </fieldset>
                        <fieldset class="form-group text-right">
                            <input type="submit" class="btn btn-success" value="Register">
                            <a routerLink="/home">
                                <input type="button" class="btn btn-warning" value="Cancel">
                            </a>
                        </fieldset>
                    </form>
                </div>
            </div>
    </div>
</div>